@import 'variables';

.index-cars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .index-cars-cards-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 35px;

        .car-card {

            display: flex;
            flex-direction: column;
            gap: 10px;

            .car-card-details {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            img {
                width: 245px;
            }
        }
    }
}