@import 'variables';

.index-bookings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    .bookings-cards-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .booking-card {
            display: flex;
            flex-direction: column;
            .car-card-details {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            .status-pending {
                color: grey;
                width: fit-content;
                margin: auto;
                font-weight: bold;
            }

            .status-accepted {
                color: green;
                width: fit-content;
                margin: auto;
                font-weight: bold;
            }

            .accept-cta, .accept-cta:hover {
                border: 1px solid green;
                padding: 5px 25px;
                color: $secondary-color;
                background-color: green;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}